{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
     <link rel="icon" type="image/x-icon" href="static/images/circular logo.png">
    <meta charset="utf-8">
    <title>SwaLook-Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- custom css -->

    <link rel="stylesheet" href="static/css/bill/invoicecss.css">
    <style>

        @media print{
            button{
                visibility: hidden;
            }
        }


    </style>
</head>
<body>


<div class="container">
    <div class="card">
        <div class="card-body">
            <div id="invoice">
                <div class="toolbar hidden-print">
                    <div class="text-end">

                    </div>
                    <hr>
                </div>
                <div class="invoice overflow-auto">
                    <div style="min-width: 600px">
                        <header>
                            <div class="row">
                                <div class="col company-details" style="text-align: center;">
                                    <img src="{{img.img.path}}" alt="" id="logo" width="100px;" height="50px;">

                                </div>

                                <div class="vendor">
                                    <p class="vendor-name" >
                                        <h2 style="color:black; font-size:23px;">{{username}}</h2>
                                    </p>
                                </div>
                            </div>
                        </header>

                        <main>
                            <div class="row contacts">
                                <div class="col invoice-to">
                                    <h2><div class="text-gray-light">INVOICE TO: {{invoice_data.Name}}</div></h2>

                                    <div class="address">{{invoice_data.Address}}</div>
                                    <h2><div class="email"><a style="color:black; text-decoration:none;">{{invoice_data.Mobileno}}</a></h2>
                                    </div>
                                </div>
                                <div class="col invoice-details">
                                    <h5 class="invoice-id" style="margin-left:450px;">Invoice: {{invoice_data.slno}}</h5>
                                    <h2 style="margin-left:450px;"><div class="date">Date of Invoice: {{invoice_data.date_time}}</div></h1>
                                    <h2 style="margin-left:450px;"><div class="GST-Number" >
                                        {%if invoice_data.check_value != None %}


                                            <span id="gst">GST-Number :</span> {{invoice_data.gst_number}}
                                        {%endif%}
                                        </div></h1>
                                </div>
                            </div>
                            <div class="table-responsive" >
                                <table class="table table-bordered">
                                  <thead>
                                    <tr style="border:1px solid #787871; padding:3px; background-color:#fff">
                                      <th style="width: 5%;">S. No.</th>
                                      <th style="width: 30%;">DESCRIPTION</th>
                                      <th style="width: 10%;">PRICE</th>
                                      <th style="width: 10%;">QUANTITY</th>
                                      <th style="width: 10%;">DISCOUNT</th>
                                      <th style="width: 10%;">TAX AMT</th>
                                      <th style="width: 10%;">CGST(2.5%)</th>
                                      <th style="width: 10%;">SGST(2.5%)</th>
                                      <th style="width: 10%; color:black;">TOTAL AMT</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for i in service_obj %}


                                    <tr  style="border:1px solid #787871; padding:3px; background-color:#fff;">
                                      <td scope="col" style="text-align:center;">{{i.slnoo}}</td>
                                      <td scope="col" class="text-center">{{i.service}}</td>
                                      <td scope="col" class="text-center" style="text-align: center;">{{i.prise}}</td>
                                      <td scope="col" class="text-center" style="text-align: center;">{{i.quantity}}</td>

                                      <td scope="col" class="text-center" style="text-align: center;">{{i.dicount}}</td>
                                      <td scope="col" class="text-center" style="text-align: center;">{{i.taxableamt}}</td>
                                      <td scope="col" class="text-center" style="text-align: center;">{{i.cgst}}</td>
                                      <td scope="col" class="text-center" style="text-align: center;">{{i.sgst}}</td>
                                      <td scope="col" style="width: 20%; color:black; text-align:center;">{{i.total}}</td>


                                    </tr>

                                    {%endfor%}
                                    <tr style="border:1px solid #787871; padding:3px; background-color:#fff;" >
                                      <th colspan="2" style="width: 20%; color: black; font-weight: 500; font-size: 15px;">TOTAL</th>
                                      <th style="width: 5%;padding:0.7%;" class="text-center">{{invoice_data.total_prise}}</th>

                                      <th style="width: 10%; padding:0.7%;"class="text-center">{{invoice_data.total_quantity}}</th>

                                      <th style="width: 10%;padding:0.7%;"class="text-center">{{invoice_data.total_discount}}</th>
                                      <th style="width: 10%;padding:0.7%;"class="text-center">{{invoice_data.total_tax}}</th>
                                      <th style="width: 10%;padding:0.7%;"class="text-center">{{invoice_data.total_cgst}}</th>
                                      <th style="width: 10%;padding:0.7%;"class="text-center">{{invoice_data.total_sgst}}</th>
                                      <th style="width: 10%;padding:0.7%;"class="text-center">{{invoice_data.grand_total}}</th>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="final">

                                    <div class="amount_in_words">
                                        <p style="font-size: 17px;"><span style="font-weight: 500; font-size: 18px;">AMOUNT IN WORDS:</span > {{data_word}} only</p>
                                    </div>

                                    <div class="final_amount" style="margin-right: 30px;">
                                        <p style="font-size: 17px;"><span style="font-weight: 500; font-size: 18px;">FINAL VALUE:</span >{{invoice_data.grand_total}}</p>
                                    </div>

                                </div>
                            </div>

                            <div class="notices">
                                <div class="notice text-center">THANK YOU ! AND VISIT AGAIN</div>
                            </div>
                        </main>

                        <footer>This is a Digital Invoice generated by <strong>SwaLook</strong> valid without signature as well.</footer>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">

</style>

<!--Fontawesome JS-->

<script src="https://kit.fontawesome.com/eaa87c3c3f.js" crossorigin="anonymous"></script>   <!--Fontawesome Icons-->

</body>
</html>